In [2]:
import pandas as pd
import numpy as np
import glob
import os
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
sns.set()
from datetime import datetime
import datetime
import time
import timestring
import math
import scipy
matplotlib.rcParams['figure.figsize'] = (14, 8)

In [3]:
df = pd.read_csv('./Data/2017.csv')

In [4]:
#remove rows will null values which is approximately 1.5%
null_columns = df.columns[df.isnull().any()]
df[null_columns].isnull().sum()

DEP_TIME                 80308
DEP_DELAY                80343
DEP_DELAY_NEW            80343
TAXI_OUT                 82145
WHEELS_OFF               82141
WHEELS_ON                84674
TAXI_IN                  84674
ARR_TIME                 84674
ARR_DELAY                95211
ARR_DELAY_NEW            95211
ACTUAL_ELAPSED_TIME      95211
AIR_TIME                 95211
CARRIER_DELAY          4645148
WEATHER_DELAY          4645148
NAS_DELAY              4645148
SECURITY_DELAY         4645148
LATE_AIRCRAFT_DELAY    4645148
dtype: int64

In [5]:
df = df.dropna(subset=['DEP_TIME',
       'DEP_DELAY', 'DEP_DELAY_NEW', 'TAXI_OUT', 'WHEELS_OFF', 'WHEELS_ON',
       'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY', 'ARR_DELAY_NEW',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME'])

In [6]:
df = df.fillna(0)

In [7]:
df = df[['MONTH','DAY_OF_MONTH', 'DAY_OF_WEEK', 'OP_CARRIER', 'ORIGIN', 'DEST', 'DEP_TIME',
       'DEP_DELAY', 'TAXI_OUT', 'TAXI_IN', 'ARR_TIME', 'ARR_DELAY', 'AIR_TIME', 'DISTANCE',
       'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY']]

In [8]:
df.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,ARR_TIME,ARR_DELAY,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,3,21,2,B6,BOS,DCA,1031.0,16.0,14.0,3.0,1154.0,3.0,66.0,399.0,0.0,0.0,0.0,0.0,0.0
1,3,21,2,B6,IAD,BOS,1420.0,-15.0,9.0,6.0,1533.0,-29.0,58.0,413.0,0.0,0.0,0.0,0.0,0.0
2,3,21,2,B6,BOS,IAD,1203.0,-12.0,17.0,5.0,1338.0,-14.0,73.0,413.0,0.0,0.0,0.0,0.0,0.0
3,3,21,2,B6,BOS,PHL,758.0,-6.0,21.0,8.0,925.0,-11.0,58.0,280.0,0.0,0.0,0.0,0.0,0.0
4,3,21,2,B6,FLL,BDL,1041.0,-4.0,11.0,5.0,1327.0,-15.0,150.0,1173.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df = df.reindex()

In [10]:
df.dtypes

MONTH                    int64
DAY_OF_MONTH             int64
DAY_OF_WEEK              int64
OP_CARRIER              object
ORIGIN                  object
DEST                    object
DEP_TIME               float64
DEP_DELAY              float64
TAXI_OUT               float64
TAXI_IN                float64
ARR_TIME               float64
ARR_DELAY              float64
AIR_TIME               float64
DISTANCE               float64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [11]:
cat_label = lambda x: x.astype('category')

In [12]:
objects = ['OP_CARRIER', 'ORIGIN', 'DEST']

In [13]:
df[objects] = df[objects].apply(cat_label, axis=0)

In [14]:
df.dtypes

MONTH                     int64
DAY_OF_MONTH              int64
DAY_OF_WEEK               int64
OP_CARRIER             category
ORIGIN                 category
DEST                   category
DEP_TIME                float64
DEP_DELAY               float64
TAXI_OUT                float64
TAXI_IN                 float64
ARR_TIME                float64
ARR_DELAY               float64
AIR_TIME                float64
DISTANCE                float64
CARRIER_DELAY           float64
WEATHER_DELAY           float64
NAS_DELAY               float64
SECURITY_DELAY          float64
LATE_AIRCRAFT_DELAY     float64
dtype: object

In [15]:
dummy_vars = pd.get_dummies(df[objects])

In [16]:
dummy_vars.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5579410 entries, 0 to 5674620
Columns: 651 entries, OP_CARRIER_AA to DEST_YUM
dtypes: uint8(651)
memory usage: 3.4 GB

In [17]:
df_encoded = pd.concat([df, dummy_vars], axis=1)

In [18]:
df_encoded.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,...,DEST_TYS,DEST_UIN,DEST_UST,DEST_VLD,DEST_VPS,DEST_WRG,DEST_WYS,DEST_XNA,DEST_YAK,DEST_YUM
0,3,21,2,B6,BOS,DCA,1031.0,16.0,14.0,3.0,...,0,0,0,0,0,0,0,0,0,0
1,3,21,2,B6,IAD,BOS,1420.0,-15.0,9.0,6.0,...,0,0,0,0,0,0,0,0,0,0
2,3,21,2,B6,BOS,IAD,1203.0,-12.0,17.0,5.0,...,0,0,0,0,0,0,0,0,0,0
3,3,21,2,B6,BOS,PHL,758.0,-6.0,21.0,8.0,...,0,0,0,0,0,0,0,0,0,0
4,3,21,2,B6,FLL,BDL,1041.0,-4.0,11.0,5.0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df_encoded = df_encoded.drop(['ORIGIN'], axis=1)

In [20]:
df_encoded = df_encoded.drop(['OP_CARRIER'], axis=1)
df_encoded = df_encoded.drop(['DEST'], axis=1)

In [21]:
df_encoded.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5579410 entries, 0 to 5674620
Columns: 667 entries, MONTH to DEST_YUM
dtypes: float64(13), int64(3), uint8(651)
memory usage: 4.1 GB

In [22]:
df_encoded.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,ARR_TIME,ARR_DELAY,AIR_TIME,...,DEST_TYS,DEST_UIN,DEST_UST,DEST_VLD,DEST_VPS,DEST_WRG,DEST_WYS,DEST_XNA,DEST_YAK,DEST_YUM
0,3,21,2,1031.0,16.0,14.0,3.0,1154.0,3.0,66.0,...,0,0,0,0,0,0,0,0,0,0
1,3,21,2,1420.0,-15.0,9.0,6.0,1533.0,-29.0,58.0,...,0,0,0,0,0,0,0,0,0,0
2,3,21,2,1203.0,-12.0,17.0,5.0,1338.0,-14.0,73.0,...,0,0,0,0,0,0,0,0,0,0
3,3,21,2,758.0,-6.0,21.0,8.0,925.0,-11.0,58.0,...,0,0,0,0,0,0,0,0,0,0
4,3,21,2,1041.0,-4.0,11.0,5.0,1327.0,-15.0,150.0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
matrix = scipy.sparse.csr_matrix(df_encoded.values)

In [25]:
print(f'Size is: {matrix.data.nbytes / 1000000} MB')

Size is: 635.06808 MB

## Linear Regression

In [20]:
y = df_encoded.ARR_DELAY

In [21]:
type(y)

pandas.core.series.Series

In [22]:
X = df_encoded.drop(['ARR_DELAY'], axis=1)

In [23]:
y = y.values

In [24]:
X = X.values

In [25]:
y = y.reshape(-1,1)

In [26]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [1]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

NameError: name 'train_test_split' is not defined

In [28]:
reg_all = LinearRegression()
reg_all.fit(X_train, y_train)

ValueError: could not convert string to float: 'OO'

In [106]:
y_pred = reg_all.predict(X_test)

In [27]:
y_train.shape

(4463528, 1)

In [107]:
print("R^2: {}".format(reg_all.score(X_test, y_test)))
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: {}".format(rmse))

R^2: 0.9533517895588974
Root Mean Squared Error: 9.918862828093879

   # Using Cross Validation

In [10]:
from sklearn.model_selection import cross_val_score

In [109]:
cv_scores = cross_val_score(reg_all, X, y, cv=5)
print(cv_scores)

[0.95981712 0.94418122 0.9637719  0.94921291 0.94193189]

# Linear Regression with LabelBinarizer from SciKit learn

In [11]:
from sklearn.preprocessing import LabelBinarizer

In [12]:
#Apply Label Binarizer (LabelEncoder and OneHotEncoder in one step) to OP_CARRIER
carrier_lb = LabelBinarizer()
origin_lb = LabelBinarizer()
dest_lb = LabelBinarizer()

In [13]:
Xcarrier = carrier_lb.fit_transform(df.OP_CARRIER.values)
Xorigin = origin_lb.fit_transform(df.ORIGIN.values)
Xdest = dest_lb.fit_transform(df.DEST.values)

In [14]:
#now we create a new DataFrame with encoded values to model
#convert the transformed Arrays into DataFrames
df_carrier_enc = pd.DataFrame(Xcarrier, columns=["CARRIER_"+str(int(i)) for i in range(Xcarrier.shape[1])])
df_origin_enc = pd.DataFrame(Xorigin, columns=["ORIGIN_"+str(int(i)) for i in range(Xorigin.shape[1])])
df_des_enc = pd.DataFrame(Xdest, columns=["DEST_"+str(int(i)) for i in range(Xdest.shape[1])])

In [21]:
#define a function to find memory usage 
def mem_usage(pandas_obj):
    if isinstance(pandas_obj,pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else: # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2 # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

In [ ]:
df_int = df_origin_enc.select_dtypes(include=['int'])
converted_int = df_int.apply(pd.to_numeric,downcast='unsigned')

print(mem_usage(df_int))
print(mem_usage(converted_int))

In [15]:
#new encoded dataframe
df_encoded = pd.concat([df, df_carrier_enc], axis=1)

In [ ]:
df_encoded = pd.concat([df_encoded, df_origin_enc], axis=1)

In [ ]:
df_encoded = pd.concat([df_encoded, df_des_enc], axis=1)

In [19]:
df_encoded.info(memory_usage='deep')

NameError: name 'df_encoded' is not defined

In [25]:
df_encoded.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,...,CARRIER_2,CARRIER_3,CARRIER_4,CARRIER_5,CARRIER_6,CARRIER_7,CARRIER_8,CARRIER_9,CARRIER_10,CARRIER_11
0,3.0,21.0,2.0,B6,BOS,DCA,1031.0,16.0,14.0,3.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.0,21.0,2.0,B6,IAD,BOS,1420.0,-15.0,9.0,6.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,21.0,2.0,B6,BOS,IAD,1203.0,-12.0,17.0,5.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,21.0,2.0,B6,BOS,PHL,758.0,-6.0,21.0,8.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3.0,21.0,2.0,B6,FLL,BDL,1041.0,-4.0,11.0,5.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
df_encoded = df_encoded.dropna()

In [37]:
df_encoded.tail()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_CARRIER,ORIGIN,DEST,DEP_TIME,DEP_DELAY,TAXI_OUT,TAXI_IN,...,CARRIER_2,CARRIER_3,CARRIER_4,CARRIER_5,CARRIER_6,CARRIER_7,CARRIER_8,CARRIER_9,CARRIER_10,CARRIER_11
5579405,2.0,4.0,6.0,WN,ATL,TPA,1101.0,-4.0,18.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5579406,2.0,4.0,6.0,WN,ATL,TPA,1610.0,0.0,9.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5579407,2.0,4.0,6.0,WN,ATL,TPA,938.0,-2.0,16.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5579408,2.0,4.0,6.0,WN,ATL,TPA,1442.0,-3.0,9.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5579409,2.0,4.0,6.0,WN,ATL,TPA,1730.0,-10.0,10.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [38]:
y_enc = df_encoded.ARR_DELAY

In [39]:
X_enc = df_encoded.drop(['ARR_DELAY'], axis=1)
X_enc = X_enc.drop(['DEP_DELAY'], axis=1)
X_enc = X_enc.drop(['OP_CARRIER'], axis=1)
X_enc = X_enc.drop(['ORIGIN'], axis=1)
X_enc = X_enc.drop(['DEST'], axis=1)

y_enc = y_enc.values
X_enc = X_enc.values
y_enc = y_enc.reshape(-1,1)

In [40]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X_enc, y_enc, test_size = 0.2, random_state=42)

In [42]:
reg_all = LinearRegression()
reg_all.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [43]:
y_pred = reg_all.predict(X_test)

In [44]:
print("R^2: {}".format(reg_all.score(X_test, y_test)))
rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: {}".format(rmse))

R^2: 0.9539631785438748
Root Mean Squared Error: 9.887680440821649

In [45]:
from sklearn.model_selection import cross_val_score
cv_scores = cross_val_score(reg_all, X_enc, y_enc, cv=5)
print(cv_scores)

[0.96047127 0.94472886 0.96296107 0.94940663 0.94479483]

# Random Forrest